<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">

  <title>{% block title %}ANNOUNCEMENTS{% endblock%}</title>
</head>
<body class="bg-light">

  {% include 'navbar.html' %}

  <div class="container-fluid">
    <br>
    {% block body %}

      {% if not announcements[0] %}
        <h1>add your first announcement</h1>
      {% endif %}

      {% for announcement in announcements %}
        <p>Title: {{ announcement.title }}</p>
        <p>Publication date: {{ announcement.created_date.date() }}</p>
        <p>{{ announcement.text }}</p>
        <a href="/{{ announcement.id }}/">details</a>
        <a class="text-danger" href="/delete/{{ announcement.id }}/">delete</a>
        <!-- <a class="text-danger" href="/delete/{{ announcement.id }}/">delete</a> -->
        <hr>
      {% endfor %}

    {% endblock %}
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous">
  </script>
</body>
</html>
